<h1>Zip Tennis </h1>
<p>Zip Tennis is a web application that allows tennis players to find matches through a general zip code search. 
Users can sign up and enter their zip code and tennis rating. Then search for players in their zip code and challenge 
them to a match. They are able to choose a date, time, and court preference when challenging another player.</p>
